<mat-toolbar color="primary" class="stickyBar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>check_circle_outline</mat-icon>
  </button>
  <span>Task Overflow 2.0</span>
  <span class="example-spacer"></span>

  <!-- Profile button -->
  <button
    mat-icon-button
    cdkOverlayOrigin
    matTooltip="User details"
    #trigger="cdkOverlayOrigin"
    (click)="isOpen = !isOpen"
  >
    <mat-icon>perm_identity</mat-icon>
  </button>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
  >
    <app-user-card [title]="user.username" [subtitle]="user.role" *ngIf="user">
      <div fxLayout="column" fxLayoutAlign="start center">
        <button mat-flat-button (click)="isOpen = false">Manage Profile</button>
        <button mat-flat-button (click)="isOpen = false">Settings</button>
        <button mat-flat-button routerLink="/" (click)="logOut()">
          Log out
        </button>
      </div>
    </app-user-card>
  </ng-template>
</mat-toolbar>
