<h1 mat-dialog-title>Manage Team</h1>

<mat-selection-list>
  <mat-list-option *ngFor="let user of team">
    <div
      mat-card-avatar
      class="user-card-image"
      matListItemIcon
      [ngStyle]="{ 'background-image': 'url(' + prefix + user.avatarId + ')' }"
    ></div>
    <div matListItemTitle>{{ user.username }}</div>
    <div matListItemLine>{{ user.role | lowercase }}</div>
  </mat-list-option>
</mat-selection-list>

<br />

<div
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxFlexFill
  *ngIf="data.isCreator"
>
  <mat-form-field appearance="fill" class="autocomplete">
    <mat-label>New Team Member</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="User"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [(ngModel)]="newUserId"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.id"
      >
        {{ option.username }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addUserToTeam()">
    Add
  </button>
</div>
