mat-card-actions {
  min-height: 0px;
}

mat-card {
  padding: 30px;
  height: fit-content;
  width: 400px;
}

.main-title {
  margin-top: 20%;
}

.description {
  text-align: justified;
  margin-bottom: 50px;
  width: 70%;
  color: grey;
  font-size: 16px;
  font-weight: 300;
}

.highlight-red {
  font-weight: 500;
  color: #ff746a;
}

.highlight-blue {
  font-weight: 500;
  color: #5961f4;
}

@media screen and (max-width: 1200px) {
  #auth-container {
    flex-wrap: wrap;
  }

  mat-card {
    width: 100%;
  }
  #card-container {
    width: 100%;
    padding: 10%;
  }

  .main {
    background-color: gray;
  }
}
