<div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
  <h1 mat-dialog-title>
    <mat-icon>{{ getIcon() }}</mat-icon> {{ task.type | titlecase }}
  </h1>

  <button
    mat-icon-button
    color="primary"
    (click)="editMode = !editMode"
    tabindex="-1"
  >
    <mat-icon>edit</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div fxLayout="column" fxLayoutAlign="center">
      <!-- Title input -->
      <p>Title</p>
      <mat-form-field width="100%">
        <input
          matInput
          placeholder="Title"
          [ngClass]="{ 'disabled-class': !editMode }"
          [disabled]="!editMode"
          ngModel
          [(ngModel)]="task.title"
          name="title"
        />
      </mat-form-field>

      <!-- Description area -->
      <p>Description</p>
      <mat-form-field width="100%">
        <textarea
          matInput
          placeholder="Description"
          [ngClass]="{ 'disabled-class': !editMode }"
          [disabled]="!editMode"
          ngModel
          [(ngModel)]="task.description"
          name="description"
          required
        ></textarea>
      </mat-form-field>

      <p>Priority</p>
      <mat-form-field>
        <select
          matNativeControl
          name="priority"
          [disabled]="!editMode"
          [ngClass]="{ 'disabled-class': !editMode }"
          ngModel
          [(ngModel)]="task.priority"
          name="priority"
          required
        >
          <option
            *ngFor="let priority of priorityTypes"
            [value]="priority.value"
          >
            {{ priority.viewValue }}
          </option>
        </select>
      </mat-form-field>

      <!-- Type select -->
      <p>Type</p>
      <mat-form-field>
        <select
          matNativeControl
          name="type"
          [disabled]="!editMode"
          [ngClass]="{ 'disabled-class': !editMode }"
          ngModel
          [(ngModel)]="task.type"
          name="type"
          required
        >
          <option *ngFor="let type of taskTypes" [value]="type.value">
            {{ type.viewValue }}
          </option>
        </select>
      </mat-form-field>

      <!-- Status select (new by default) -->
      <div *ngIf="!templateMode">
        <p>Status</p>
        <mat-form-field>
          <select
            matNativeControl
            name="status"
            [disabled]="!editMode"
            [ngClass]="{ 'disabled-class': !editMode }"
            ngModel
            [(ngModel)]="task.status"
            name="status"
            required
          >
            <option *ngFor="let status of statusTypes" [value]="status.value">
              {{ status.viewValue }}
            </option>
          </select>
        </mat-form-field>
      </div>
    </div>

    <!-- Deadline -->
    <p>Deadline</p>
    <mat-form-field appearance="fill">
      <input
        matInput
        [matDatepicker]="picker"
        [disabled]="!editMode"
        [ngClass]="{ 'disabled-class': !editMode }"
        name="deadline"
        ngModel
        [(ngModel)]="task.deadline"
        required
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div
      class="view-info"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      *ngIf="!editMode"
    >
      <div class="section">
        <p>Created by</p>
        <app-user-card
          [title]="task.createdBy.username"
          [subtitle]="task.createdBy.role"
        ></app-user-card>
      </div>

      <div class="section">
        <p>Assigned to</p>
        <app-user-card
          *ngIf="task.assignedTo"
          [title]="task.assignedTo.username"
          [subtitle]="task.assignedTo.role"
        ></app-user-card>
        <app-user-card
          *ngIf="!task.assignedTo"
          title="Unassigned"
          subtitle=""
        ></app-user-card>
      </div>
    </div>
    <br />

    <div *ngIf="editMode">
      <p>Assigned to</p>
      <mat-form-field appearance="fill">
        <mat-label>User</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="User"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          name="assignedTo"
          ngModel
          required
          [(ngModel)]="assignedToId"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option.id"
          >
            {{ option.username }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div mat-dialog-actions align="end">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!f.valid || !editMode"
        *ngIf="editMode"
        mat-dialog-close
      >
        Save
      </button>
      <button mat-button mat-dialog-close>Cancel</button>
    </div>
  </form>
</div>
