<mat-toolbar color="primary" class="stickyBar">
  <button mat-icon-button class="example-icon">
    <mat-icon>check_circle_outline</mat-icon>
  </button>
  <span>Task Overflow 2.0</span>
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    cdkOverlayOrigin
    matTooltip="Info"
    (click)="openInfoDialog()"
  >
    <mat-icon>help_outline</mat-icon>
  </button>

  <!-- Profile button -->
  <div *ngIf="user">
    <button
      mat-icon-button
      cdkOverlayOrigin
      matTooltip="User details"
      #trigger="cdkOverlayOrigin"
      (click)="isOpen = !isOpen"
    >
      <mat-icon>perm_identity</mat-icon>
    </button>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isOpen"
    >
      <app-user-card [user]="user" *ngIf="user">
        <div fxLayout="column" fxLayoutAlign="start center">
          <button mat-flat-button (click)="isOpen = false">
            Manage Profile
          </button>

          <button mat-flat-button (click)="logOut()" r>Log out</button>
        </div>
      </app-user-card>
    </ng-template>
  </div>
</mat-toolbar>
