<div fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-icon-button color="primary" (click)="arrowClicked(-1)">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <mat-tab-group
    dynamicHeight
    fitInkBarToContent
    mat-align-tabs="start"
    mat-stretch-tabs="false"
    animationDuration="1000ms"
    [(selectedIndex)]="tabIndex"
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    headerPosition="below"
  >
    <mat-tab label="">
      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="50px">
        <h1 class="main-title">Welcome to Task Overflow!</h1>
        <img
          src="../../assets/20945597.jpeg"
          alt="Welcome illustration"
          width="400px"
        />

        <div class="description-box">
          <div class="description-text">
            Hello everyone! This is a practice app developed by
            <span class="highlight-blue">Isabel Trica</span> on her to learn
            <span class="highlight-blue">Angular</span>,
            <span class="highlight-blue">Nest.js</span> and
            <span class="highlight-blue">Postgresql</span>.
          </div>
        </div>

        <div
          class="description-box"
          fxLayout="row"
          fxLayoutAlign="space-between"
        >
          <button mat-flat-button color="primary" routerLink="/login">
            Log In
          </button>
          <button mat-flat-button color="primary" routerLink="/create-account">
            Create Account
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="">
      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="50px">
        <h1 class="main-title">What you can do</h1>
        <img
          src="../../assets/20943573.jpg"
          alt="About illustration"
          width="400px"
        />

        <div>
          <ul class="description-text">
            <li>
              Create, sort and filter
              <span class="highlight-blue">boards</span>
            </li>
            <li>
              Add, assign and edit
              <span class="highlight-blue">tasks</span>
            </li>
            <li>
              Any user can create their own boards that they can later manage
            </li>

            <li>
              Tasks can have one of the following types: Bug, User Story, Issue
            </li>
            <li>
              Track progress. The board can be visualised in the
              <span class="highlight-blue">ListView</span> or
              <span class="highlight-blue">Kanban</span>
              mode
            </li>
          </ul>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="">
      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="50px">
        <h1 class="main-title">Technical Features</h1>
        <img
          src="../../assets/20943705.jpg"
          alt="Features illustration"
          width="400px"
        />

        <ul class="description-text">
          <li>
            <span class="highlight-blue">Lazy loading</span> - for fast
            rendering of the page
          </li>
          <li>
            <span class="highlight-blue">Route protection</span> - agains
            unauthorized users
          </li>
          <li>
            <span class="highlight-blue">File Management</span> - all images are
            stored safely on a server
          </li>
          <li>
            <span class="highlight-blue">Auto-login</span> - users stay logged
            in when refreshing the page
          </li>
          <li>
            <span class="highlight-blue">Auto-logout</span> - users are
            automatically logged out after 1 hour
          </li>
          <li>
            <span class="highlight-blue">Drag and Drop Cdk</span> - used for the
            Kanban Board
          </li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>
  <button mat-icon-button color="primary" (click)="arrowClicked(1)">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
