<div *ngIf="board; else boardNotFound">
  <button mat-button color="primary" routerLink="/boards">
    All Boards
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <h1>
      {{ board.title }}
    </h1>
    <div class="right-buttons">
      <button
        mat-fab
        color="primary"
        matTooltip="Add new task"
        matTooltipPosition="above"
        (click)="openTaskDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-fab
        color="primary"
        matTooltip="Manage team"
        matTooltipPosition="above"
        (click)="openTeamDialog()"
      >
        <mat-icon>group_add</mat-icon>
      </button>
    </div>
  </div>

  <mat-chip
    [cdkCopyToClipboard]="board.id.toString()"
    matTooltip="Copy to clipboard"
    matTooltipPosition="above"
    #tooltip="matTooltip"
    (click)="changeTooltip()"
    >{{ board.id }}</mat-chip
  >

  <app-user-card
    [title]="board.createdBy.username"
    subtitle="Board creator"
  ></app-user-card>

  <div fxLayout="row" class="input-list">
    <mat-button-toggle-group>
      <mat-button-toggle value="kanban" checked="true" #kanban
        >Kanban</mat-button-toggle
      >
      <mat-button-toggle value="list" #list>List View</mat-button-toggle>
    </mat-button-toggle-group>

    <!-- <mat-form-field class="form-input">
      <mat-label>Task Filter</mat-label>
      <input
        matInput
        placeholder="Ex. task"
        #input
        (keyup)="applyFilter($event)"
      />
    </mat-form-field> -->
  </div>

  <app-kanban *ngIf="kanban.checked" [boardId]="id"></app-kanban>
</div>

<ng-template #boardNotFound>
  <h1>Board not found</h1>
</ng-template>
