<div *ngIf="board; else boardNotFound">
  <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 40px">
    <button mat-button color="primary" routerLink="/boards">
      All Boards
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <h1>
      {{ board.title }} <app-chip [text]="board.id.toString()"></app-chip>
    </h1>
    <div class="right-buttons">
      <button
        mat-fab
        color="primary"
        matTooltip="Add new task"
        matTooltipPosition="above"
        (click)="openTaskDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-fab
        color="primary"
        matTooltip="Manage team"
        matTooltipPosition="above"
        (click)="openTeamDialog()"
      >
        <mat-icon>group_add</mat-icon>
      </button>
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="start"
    fxLayoutGap="75px"
    style="margin-bottom: 40px"
  >
    <div>
      <h2>Created by</h2>
      <app-user-card [user]="board.createdBy"></app-user-card>
    </div>

    <div>
      <h2>Project Stats</h2>
      <app-chart progress="50" assigned="20" onTrack="80"></app-chart>
    </div>
  </div>

  <div fxLayout="row" class="input-list">
    <mat-button-toggle-group>
      <mat-button-toggle value="kanban" checked="true" #kanban
        >Kanban</mat-button-toggle
      >
      <mat-button-toggle value="list" #list>List View</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <app-kanban *ngIf="kanban.checked" [boardId]="id"></app-kanban>
  <app-listview *ngIf="list.checked" [boardId]="id"></app-listview>
</div>

<ng-template #boardNotFound>
  <h1>Board not found</h1>
</ng-template>
