<button mat-button color="primary" (click)="backClick()">
  {{ backBtnText }}
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>

<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10%">
  <img
    [src]="imagePath"
    alt="Profile picture"
    width="300px"
    height="300px"
    style="object-fit: cover; align-self: center"
  />
  <div>
    <h1>Personal profile</h1>
    <h4>Username</h4>
    <p>{{ user.username }}</p>
    <br />

    <h4>Email</h4>
    <p>{{ user.email }}</p>
    <br />

    <h4>Role</h4>
    <p>{{ user.role | titlecase }}</p>
    <br />
    <button
      *ngIf="editMode"
      type="button"
      color="primary"
      mat-raised-button
      (click)="fileInput.click()"
      style="margin-top: 30px"
    >
      Choose Avatar
    </button>
    <input
      hidden
      (change)="onFileSelected()"
      #fileInput
      type="file"
      accept="image/png, image/gif, image/jpeg"
      id="file"
    />
  </div>
</div>
