<div id="card-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Create Account </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Ex. your@email.com"
            ngModel
            name="email"
            required
            email
            #email="ngModel"
          />
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-error *ngIf="email.invalid && email.touched"
            >Not a valid email</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            ngModel
            name="username"
            required
            #username="ngModel"
          />
          <mat-error *ngIf="username.invalid">{{
            getErrorMessage(username)
          }}</mat-error>
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            ngModel
            name="password"
            required
            #password="ngModel"
            (ngModelChange)="onChangePassword($event)"
          />
          <mat-error *ngIf="password.invalid">{{
            getErrorMessage(password)
          }}</mat-error>
          <mat-icon matSuffix>lock_open</mat-icon>
        </mat-form-field>

        <div *ngFor="let check of checks; let i = index">
          <mat-checkbox
            class="example-margin"
            name="{{ i }}"
            (click)="checkboxClick()"
            [(ngModel)]="checks[i].value"
            >{{ check.name }}</mat-checkbox
          >
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Repeat password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Repeat password"
            ngModel
            name="repeat"
            required
            #repeat="ngModel"
            (ngModelChange)="onRepeatPasswordChange($event)"
          />
          <mat-error *ngIf="repeat.invalid">{{
            getErrorMessage(repeat)
          }}</mat-error>
          <mat-icon matSuffix>lock_open</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Your role</mat-label>
          <select matNativeControl required ngModel name="role">
            <option value="DEVELOPER">Developer</option>
            <option value="INTERN">Intern</option>
            <option value="PROJECT_MANAGER">Project Manager</option>
            <option value="PRODUCT_OWNER">Product Owner</option>
            <option value="DESIGNER">Designer</option>
          </select>
        </mat-form-field>

        <button type="button" mat-button color="primary" routerLink="/login">
          You already have an account?
        </button>

        <div class="submitBtn">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!f.valid"
            (click)="onSubmit(f)"
          >
            CREATE ACCOUNT
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
