<footer>
  <div class="app-logo">
    <mat-icon>check_circle_outline</mat-icon>
    <p class="app-name">Task Overflow 2.0</p>
  </div>

  <p>
    Copyright &copy; All rights reserved <br />Designed by Isabel Trica, 2023
  </p>

  <div class="social">
    <p>Follow me on social media</p>
    <ul class="wrapper">
      <a href="https://www.linkedin.com/in/isabel-trica/" target="_blank">
        <li class="icon linkedin">
          <span><i class="fab fa-linkedin"></i></span>
        </li>
      </a>
      <a href="https://github.com/tricaisabel" target="_blank">
        <li class="icon github">
          <span><i class="fab fa-github"></i></span>
        </li>
      </a>
    </ul>
  </div>
</footer>
